<select class = "select-custom" name = "select_set" id = "select-set">
    <option value = "SELECT">SELECT AN ARTIFACT SET</option>
    <% if (artifact_sets) {
        var dropdown = '';
        artifact_sets.forEach(function(item){
            dropdown += '<option value = "'
            + item.set_id
            + '">' 
            + item.set_name
            + '</option>'
        });
    }
    else{
        dropdown = '<option> value = "">Invalid Option</option>'%>
    <% } %>
    <%- dropdown %>
</select>
<br><hr>
<div class = "row" style = "align-items: center; justify-content: center;">
    <button type = "button" class = "btn-custom2 btn" id = "checkAll">Select All</button>
    <button type = "button" class = "btn-custom2 btn" id = "uncheckAll">Unselect All</button>
</div>
<hr>
    <%- include('update-add_cards') %>